################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AbsoluteAPI/AbsoluteAPI/bin
/AbsoluteAPI/.vs/AbsoluteAPI
/.vs
/AbsoluteAPI/AbsoluteAPI/obj
/AbsoluteAPI/packages
